{% extends "base_generic.html"%}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'myparking/css/faq.css' %}">
{% endblock %}


{% block title%}
<title>FAQ</title>
{% endblock %}

{% block content%}

<div class="main-container my-align-left">
    <article>
        <h3 class="text-bold text-30">Часто задаваемые вопросы:</h3>
        <details>
            <summary class="text-20 text-bold">&#9654 Что такое "Автостоянка ByKaxxa"?</summary>
            <p>
                "Автостоянка ByKaxxa" - это современная сеть автомобильных парковок,
                предоставляющая услуги хранения и обслуживания транспортных средств.
            </p>
        </details>
        <details>
            <summary class="text-20 text-bold">&#9654 Когда была основана компания "ByKaxxa"?</summary>
            <p>
                Компания была основана в 2017 году.
            </p>
        </details>

        <details>
            <summary class="text-20 text-bold">&#9654 Какие услуги предоставляет "Автостоянка ByKaxxa"?</summary>
            <p>
                Мы предоставляем услуги по хранению и обслуживанию автомобилей, мотоциклов и других транспортных
                средств.
            </p>
        </details>

        <details>
            <summary class="text-20 text-bold">&#9654 Где находится ваша первая автостоянка?</summary>
            <p>
                Наша первая крупная автостоянка находится в центре Минска.
            </p>
        </details>

        <details>
            <summary class="text-20 text-bold">&#9654 Какие технологии безопасности вы используете на вашей
                автостоянке?
            </summary>
            <p>
                Мы постоянно улучшаем технологии безопасности на наших автостоянках для
                обеспечения безопасности транспортных средств и клиентов.
            </p>
        </details>
        <details>
            <summary class="text-20 text-bold">&#9654 Как я могу связаться с "Автостоянка ByKaxxa" для получения
                дополнительной информации или бронирования?
            </summary>
            <p>
                Для связи с нами и получения дополнительной информации, пожалуйста,
                посетите наш веб-сайт или позвоните по указанным на сайте контактным номерам телефона.
            </p>
        </details>
    </article>

    <article class="terms">
        <h3 class="text-bold text-30">Термины и понятия</h3>
        <div style="padding-left: 20px;">
            <dl>
                <dt>Автостоянка</dt>
                <dd>
                    <em>Автостоянка</em> - место, предназначенное для временной парковки автомобилей,
                    мотоциклов и других транспортных средств.
                </dd>

                <dt>Парковка</dt>
                <dd>
                    <em>Парковка</em> - процесс оставления транспортного средства на автостоянке.
                </dd>

                <dt>Парковочное место</dt>
                <dd>
                    <em>Парковочное место</em> - отмеченное и обозначенное место на автостоянке,
                    предназначенное для парковки одного автомобиля.
                </dd>

                <dt>Парковочный сбор</dt>
                <dd>
                    <em>Парковочный сбор</em> - сумма денег,
                    которую водитель должен заплатить за использование парковочного места.
                </dd>

                <dt>Эвакуация автомобилей</dt>
                <dd>
                    <em>Эвакуация автомобилей</em> - процесс переноса автомобилей с парковки,
                    часто в случае нарушения правил парковки.
                </dd>
            </dl>
        </div>
    </article>

</div>

{% endblock %}