{% extends "base_generic.html"%}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'myparking/css/privacy_policy.css' %}">
{% endblock %}


{% block title%}
<title>Privacy Policy</title>
{% endblock %}

{% block content%}

<div class="main-container">
  <div class="block-privacy-policy">
    <div>
      <h1 class="grad-text text-bold text-30">Вакансии в "Автостоянка ByKaxxa"</h1>
          <table border="1">
              <thead>
                  <tr>
                      <th>Должность</th>
                      <th>Локация</th>
                      <th>Тип занятости</th>
                      <th>Описание</th>
                      <th>Контакт</th>
                      <th>Зарплата</th>
                      <th>Требования</th>
                      <th>Опыт работы</th>
                      <th>Дополнительные бонусы</th>
                      <th>Срок подачи заявок</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Менеджер по клиентским отношениям</td>
                      <td>Минск</td>
                      <td>Полная занятость</td>
                      <td>Мы ищем опытного менеджера для работы с нашими клиентами.</td>
                      <td><a href="mailto:jobs@parking-bykaxxa.com">jobs@parking-bykaxxa.com</a></td>
                      <td>От 1000 BYN</td>
                      <td>Высшее образование, коммуникабельность</td>
                      <td>2 года</td>
                      <td>Бонусы за достижение целей</td>
                      <td>31 декабря 2023</td>
                  </tr>
                  <tr>
                      <td>Охранник</td>
                      <td>Гомель</td>
                      <td>Полная занятость</td>
                      <td>Требуется охранник для обеспечения безопасности наших парковок.</td>
                      <td><a href="mailto:jobs@parking-bykaxxa.com">jobs@parking-bykaxxa.com</a></td>
                      <td>От 800 BYN</td>
                      <td>Среднее образование, ответственность</td>
                      <td>1 год</td>
                      <td></td>
                      <td>15 января 2024</td>
                  </tr>
                  <tr>
                      <td>Автомеханик</td>
                      <td>Витебск</td>
                      <td>Полная занятость</td>
                      <td>Мы ищем опытного автомеханика для обслуживания наших клиентов.</td>
                      <td><a href="mailto:jobs@parking-bykaxxa.com">jobs@parking-bykaxxa.com</a></td>
                      <td>От 900 BYN</td>
                      <td>Техническое образование, опыт ремонта автомобилей</td>
                      <td>3 года</td>
                      <td>Бесплатное обучение</td>
                      <td>10 февраля 2024</td>
                  </tr>
                  <!-- Добавьте сюда другие вакансии по мере необходимости -->
              </tbody>
          </table>
    </div>
    <div class="pol-conf">
        <h1>Политика Конфиденциальности</h1>
        <h2>Содержание:</h2>
        <ol class="text-bold text-20">
            <li><a class="content-link" href="#section1">Сбор Личной Информации</a></li>
            <li><a class="content-link" href="#section2">Использование Личной Информации</a></li>
            <li><a class="content-link" href="#section3">Раскрытие Личной Информации</a></li>
            <li><a class="content-link" href="#section4">Защита Информации</a></li>
            <li><a class="content-link" href="#section5">Ваши Права и Контроль</a></li>
            <li><a class="content-link" href="#section6">Сроки Хранения</a></li>
            <li><a class="content-link" href="#section7">Изменения в Политике Конфиденциальности</a></li>
            <li><a class="content-link" href="#section8">Контакты</a></li>
        </ol>

        <h2 id="section1">1. Сбор Личной Информации</h2>
        <p>
          <p>
            Мы ценим ваше доверие и обязуемся обеспечить защиту вашей личной информации.
            В данном разделе мы объясняем, как и какие данные мы собираем о вас при использовании наших услуг.
          </p>

          <p><strong>1.1 Информация, которую мы собираем:</strong></p>
          <p>Мы собираем различные виды личной информации, включая, но не ограничиваясь:</p>

          <ul class="my-ul">
              <li>Имя и фамилия.</li>
              <li>Контактные данные, такие как адрес электронной почты, номер телефона и почтовый адрес.</li>
              <li>Другая информация, которую вы предоставляете нам в процессе использования наших услуг.</li>
          </ul>

          <p><strong>1.2 Информация от третьих сторон:</strong></p>

          <p>Мы также можем получать информацию о вас от третьих сторон, таких как наши партнеры или аффилированные компании.
            Это может включать в себя информацию, полученную в результате ваших покупок или транзакций через наших партнеров.</p>

          <p>Мы используем собранную информацию с целью улучшения качества предоставляемых нами услуг,
            обеспечения коммуникации с вами и обработки ваших заказов.</p>

          <p>Ваша конфиденциальность важна для нас, и мы стремимся соблюдать высокие стандарты!</p>
        </p>

        <h2 id="section2">2. Использование Личной Информации</h2>
        <p>
          Мы ценим ваше доверие и обязуемся использовать вашу личную информацию ответственно и с уважением к вашей конфиденциальности. Мы используем предоставленную вами информацию для следующих целей:
        </p>
        <ol>
          <li><strong>Обработка заказов:</strong> Ваша личная информация используется для обработки заказов и предоставления вам выбранных услуг. Это включает в себя оформление бронирований и подтверждение заказов.</li>
          <li><strong>Предоставление услуг:</strong> Мы используем вашу информацию для оказания вам услуг, которые вы запросили. Это может включать в себя предоставление мест для парковки, услуг хранения и обслуживания транспортных средств.</li>
          <li><strong>Связь с вами:</strong> Мы можем использовать ваши контактные данные, включая адрес электронной почты и номер телефона, для связи с вами в случае необходимости. Это может включать в себя уведомления о статусе заказа, подтверждение бронирований и информацию о вашем транспортном средстве.</li>
          <li><strong>Анализ и улучшение услуг:</strong> Мы можем анализировать данные, включая вашу личную информацию, для улучшения качества и эффективности наших услуг. Это помогает нам лучше понимать потребности и предпочтения наших клиентов и совершенствовать наши предложения.</li>
          <li><strong>Рекламные и маркетинговые цели:</strong> Мы можем использовать информацию о вас для целей маркетинга и рекламы наших услуг. Это может включать в себя отправку вам информации о специальных предложениях, акциях и новостях о нашей компании. Мы стараемся делать нашу рекламу максимально релевантной и полезной для вас.</li>
        </ol>
        <p>
          Мы обязуемся не использовать вашу личную информацию в целях, не связанных с оказанием наших услуг и вашими ожиданиями. Ваша конфиденциальность остается нашим приоритетом.
        </p>

        <h2 id="section3">3. Раскрытие Личной Информации</h2>
        <p>
          Мы строго соблюдаем вашу конфиденциальность и обязуемся не передавать вашу личную информацию третьим сторонам без вашего явного согласия, за исключением случаев, когда это необходимо в соответствии с действующим законодательством. Мы придерживаемся следующих принципов в отношении раскрытия вашей личной информации:
        </p>
        <ol>
          <li><strong>Соблюдение законов:</strong> Мы соблюдаем все применимые законы и правила, регулирующие обработку и передачу личной информации. Если закон требует раскрыть вашу информацию, мы будем следовать этому требованию в соответствии с законом.</li>
          <li><strong>Согласие:</strong> Мы не передаем вашу личную информацию третьим сторонам без вашего явного согласия. Ваши данные могут быть переданы другим организациям только после получения вашего разрешения.</li>
          <li><strong>Безопасность:</strong> Мы принимаем меры для обеспечения безопасности вашей личной информации и защиты ее от несанкционированного доступа. Мы сотрудничаем только с надежными партнерами и поставщиками, которые также строго соблюдают правила конфиденциальности.</li>
        </ol>
        <p>
          Мы делаем все возможное для защиты вашей личной информации и уверены, что она остается в надежных руках при использовании наших услуг. Ваша конфиденциальность - наш приоритет.
        </p>

        <h2 id="section4">4. Защита Информации</h2>
        <p>
          Мы придаем большое значение защите вашей личной информации и предпринимаем все необходимые меры для обеспечения ее безопасности. Наши усилия в области защиты данных включают в себя следующие аспекты:
        </p>
        <ol>
          <li><strong>Технические средства:</strong> Мы используем передовые технологии и средства для обеспечения безопасности данных. Это включает в себя шифрование информации, использование защищенных соединений и регулярное обновление систем безопасности.</li>
          <li><strong>Организационные меры:</strong> Мы обучаем наших сотрудников вопросам конфиденциальности и обязательствам по защите данных. У нас есть строгие политики и процедуры, регламентирующие доступ к личной информации.</li>
          <li><strong>Мониторинг и аудит:</strong> Мы регулярно мониторим и аудитим наши системы и процессы, чтобы обеспечить соответствие стандартам безопасности и выявить потенциальные уязвимости.</li>
        </ol>
        <p>
          Мы делаем все возможное, чтобы защитить ваши данные от несанкционированного доступа, утраты и разглашения. Ваша конфиденциальность для нас приоритет.
        </p>

        <h2 id="section5">5. Ваши Права и Контроль</h2>
        <p>
          Мы уважаем ваши права в отношении вашей личной информации. Ваши права включают в себя следующее:
        </p>
        <ol>
          <li><strong>Доступ:</strong> Вы имеете право запросить доступ к вашей личной информации, которую мы храним. Мы предоставим вам копию ваших данных по вашей просьбе.</li>
          <li><strong>Исправление:</strong> Если вы обнаружите неточности или ошибки в вашей личной информации, вы можете запросить исправление этих данных.</li>
          <li><strong>Удаление:</strong> Вы можете запросить удаление вашей личной информации из наших систем в соответствии с применимыми законами о защите данных.</li>
          <li><strong>Ограничение обработки:</strong> По вашей просьбе мы ограничим обработку вашей личной информации, если это необходимо и в соответствии с применимыми законами.</li>
          <li><strong>Отзыв согласия:</strong> Вы можете в любое время отозвать свое согласие на обработку данных.</li>
        </ol>
        <p>
          Мы гарантируем, что ваши запросы будут рассмотрены в соответствии с применимыми законами и обязательствами по защите данных. Мы сделаем все возможное, чтобы удовлетворить ваши запросы и обеспечить контроль над вашей личной информацией.
        </p>

        <h2 id="section6">6. Сроки Хранения</h2>
        <p class="full-prop-for-text">
          Мы храним вашу личную информацию только столько, сколько это необходимо для целей,
          для которых она была собрана, или для соблюдения применимых законов.
          Мы не будем хранить ваши данные дольше,
          чем это требуется для выполнения наших обязательств перед вами или в соответствии с законом.
          После истечения срока хранения вашей информации, мы удалим ее или примем меры для анонимизации данных.
        </p>

        <h2 id="section7">7. Изменения в Политике Конфиденциальности</h2>
        <p>
          Мы можем время от времени обновлять нашу Политику Конфиденциальности. Любые изменения будут опубликованы на нашем веб-сайте,
          и вам будет предоставлена возможность ознакомиться с изменениями и согласиться с ними.
        </p>

        <h2 id="section8">8. Контакты</h2>
        <p>
          Если у вас есть вопросы или требуется дополнительная информация о нашей Политике Конфиденциальности,
          пожалуйста, свяжитесь с нами <a href="http://127.0.0.1:8000/myparking/contacts/">our-contacts</a>
        </p>

    </div>
  </div>
</div>

{% endblock %}