{% extends "base_generic.html"%}
{% load static %}

{% block title%}
<title>Base News</title>
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'myparking/css/news.css' %}">
{% endblock %}

{% block content %}
<div class="main-container">
<!--    <h1>Новость номер: {% block details_page_pk %}{% endblock %}</h1>-->

     <div class="news-div news-bg-gradient-siren text-bold text-20">
            <div>{{ item.publish_date }}</div>
            <br>
            <div class="block-news">
                <div style="width: 60%; text-align: justify; padding-right: 3%;">
                    <div class="text-30"> {% block details_page_title %} {% endblock %}</div>
                     <br>
                    <div class="text-italic "><p>{% block details_page_summary %} {% endblock %}</p></div>
                </div>
                <div style=" width: 40%;">
                    {% block details_page_image%} {% endblock %}
                </div>
            </div>
        </div>


</div>
{% endblock %}

